<div class="bss-row components_product" bss-itemType="components.product" bss-itemId="{{id}}" bss-onclick="toggleSelection">
	<div class="bss-cell components_product_name" bss-itemProperty="name" bss-itemPropertyType="string" bss-itemPropertyEditable="true">
		{{name}}
	</div>
	<div class="bss-cell components_product_age" bss-itemProperty="age" bss-itemPropertyType="number">
		{{age}} yrs
	</div>
	<div class="bss-cell components_product_country" bss-itemProperty="country" bss-itemPropertyType="string">
		{{country}}
	</div>
</div>